<html>
  <body>
    <div style="background-color:transparent;margin:0;padding:0">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:transparent">
        <tbody>
          <tr>
            <td>
              <table class="m_2207912660751214040row-2" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#ffefe3">
                <tbody>
                  <tr>
                    <td>
                      <table class="m_2207912660751214040row-content m_2207912660751214040stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="color:#000;width:720px;margin:0 auto" width="720">
                        <tbody>
                          <tr>
                            <td class="m_2207912660751214040column m_2207912660751214040column-1" width="100%" style="font-weight:400;text-align:left;vertical-align:top;border-top:0;border-right:0;border-bottom:0;border-left:0">
                              <table class="m_2207912660751214040block-1" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                <tbody>
                                  <tr>
                                    <td class="m_2207912660751214040pad">
                                      <div style="font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;text-align:center" align="center"></div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="m_2207912660751214040row-3" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                <tbody>
                  <tr>
                    <td>
                      <table class="m_2207912660751214040row-content m_2207912660751214040stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:0;color:#000;width:720px;margin:0 auto" width="720">
                        <tbody>
                          <tr>
                            <td class="m_2207912660751214040column m_2207912660751214040column-1" width="100%" style="font-weight:400;text-align:left;padding-bottom:5px;padding-top:5px;vertical-align:top;border-top:0;border-right:0;border-bottom:0;border-left:0">
                              <table class="m_2207912660751214040text_block m_2207912660751214040block-1" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="word-break:break-word">
                                <tbody>
                                  <tr>
                                    <td class="m_2207912660751214040pad" style="padding-bottom:24px;padding-top:24px">
                                      <div style="font-family:sans-serif">
                                        <div style="font-size:14px;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;color:#25265e;line-height:1.8">
                                          <p style="margin:0;font-size:14px">
                                            <span style="font-size:18px">When you shop at CaratLane, you can always be assured of the highest quality standards. Every piece of jewellery is meticulously crafted with the utmost care. It goes through a thorough quality check and is then taken through certification, and to comprehend its overall impact, we are conducting a <span class="il">survey</span>.<br><br>The <span class="il">survey</span> aims to understand your experiences in our CaratLane store visit. Your insights will help us better align our stores with the needs of our customers.
                                            <br><br>Please attend our <span class="il">survey</span> and share your experience with CaratLane.<br></span>
                                          </p>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="m_2207912660751214040row-4" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                <tbody>
                  <tr>
                    <td>
                      <table class="m_2207912660751214040row-content m_2207912660751214040stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:0;color:#000;width:720px;margin:0 auto" width="720">
                        <tbody>
                          <tr>
                            <td class="m_2207912660751214040column m_2207912660751214040column-1" width="100%" style="font-weight:400;text-align:left;padding-top:5px;vertical-align:top;border-top:0;border-right:0;border-bottom:0;border-left:0">
                              <table class="m_2207912660751214040button_block m_2207912660751214040block-1 m_2207912660751214040mobile_hide" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                <tbody>
                                  <tr>
                                    <td class="m_2207912660751214040pad" style="padding-bottom:40px;padding-left:40px;padding-right:10px;padding-top:10px;text-align:center">
                                      <div class="m_2207912660751214040alignment" align="center">
                                        <a href="<%= surveyLink %>" style="text-decoration:none;display:block;color:#ffffff;background-color:#9e32a8;border-radius:4px;width:65%;border-top:0px solid transparent;font-weight:700;border-right:0px solid transparent;border-bottom:0px solid transparent;border-left:0px solid transparent;padding-top:10px;padding-bottom:10px;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;font-size:24px;text-align:center;word-break:keep-all" target="_blank" data-saferedirecturl="<%= surveyLink %>"><span style="padding-left:10px;padding-right:10px;font-size:24px;display:inline-block;letter-spacing:normal"><span style="word-break:break-word;line-height:48px">Click to Participate</span></span></a>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="m_2207912660751214040row-5" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                <tbody>
                  <tr>
                    <td>
                      <table class="m_2207912660751214040row-content m_2207912660751214040stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:0;color:#000;width:720px;margin:0 auto" width="720">
                        <tbody>
                          <tr>
                            <td class="m_2207912660751214040column m_2207912660751214040column-1" width="100%" style="font-weight:400;text-align:left;padding-bottom:5px;padding-top:5px;vertical-align:top;border-top:0;border-right:0;border-bottom:0;border-left:0">
                              <table class="m_2207912660751214040text_block m_2207912660751214040block-1" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="word-break:break-word">
                                <tbody>
                                  <tr>
                                    <td class="m_2207912660751214040pad" style="padding-bottom:24px;padding-top:24px">
                                      <div style="font-family:sans-serif">
                                        <div style="font-size:14px;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;color:#25265e;line-height:1.8">
                                          <p style="margin:0;font-size:14px"><span style="font-size:18px">All responses will be kept confidential. We greatly appreciate your time and insights.</span></p>
                                          <p style="margin:0;font-size:14px"><span style="font-size:18px"><br>Regards,<br></span></p>
                                          <p style="margin:0;font-size:14px"><span style="font-size:18px">Caratlane Survey Team</span></p>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
  </body>
</html>
